langchain
langchain-core
groq
langchain-google-genai
google-generativeai
langchain-huggingface
transformers
huggingface-hub
python-dotenv
numpy
scikit-learn
streamlit
langchain_community
langchain_experimental
