langchain>=0.3.0
langchain-core
groq
langchain-google-genai>=2.0.0
google-generativeai
langchain-huggingface
transformers
huggingface-hub
python-dotenv
numpy
scikit-learn
streamlit
langchain_community>=0.3.0
langchain_experimental
SpeechRecognition
pydub
pyttsx3
gtts
Sounddevice
pypdf
langchain-chroma
chromadb
