langchain==0.3.27
langchain-core
groq
langchain-google-genai==2.1.9
google-generativeai==0.8.5
langchain-huggingface
transformers
huggingface-hub
python-dotenv
numpy
scikit-learn
streamlit
langchain_community==0.3.27
langchain_experimental
SpeechRecognition
pydub
pyttsx3
gtts
Sounddevice
pypdf
langchain-chroma==0.2.5
chromadb==1.0.20
